{{- $personalName := promptStringOnce . "personal.name" "Personal git name" -}}
{{- $personalEmail := promptStringOnce . "personal.email" "Personal git email" -}}
{{- $workEmail := promptStringOnce . "work.email" "Work git email (leave blank if none)" -}}

# chezmoi configuration file

[git]
    autocommit = true
    autopush = false
    autoadd = true

[edit]
    apply = true

[data.personal]
    name = {{ $personalName | quote }}
    email = {{ $personalEmail | quote }}

[data.work]
    email = {{ $workEmail | quote }}
